<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/fyn7ocs.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Public/signup.css" />
    <title>Sign Up CrimeQuest</title>
  </head>
  <body>
<header>
      <div class="NavBar">
        <h1>CrimeQuest</h1></div>
    </header>
    <div class="box">

      <div class="credentials">
        <h2>Registreer</h2>
        <p>Registreer je om spelvoortgang op te slaan.</p>
        </p></div>


    <form action="/signup" method="post">
     <div class="formitem">
      <input placeholder="Vul je e-mailadres in" name="email" type="email" class="inputbox"/>
      </div>

      <div class="formitem">
      <input placeholder="Voer je gebruikersnaam in" name="name" type="text" class="inputbox"/>
      </div>

      <div class="formitem">
      <input placeholder="Voer je wachtwoord in" name="password" type="password" class="inputbox"/>
      </div>

      <input class="sub" type="submit"/ value="Registreer account">
    </form>
    
      <span class="divider">OF
      </span>
    <button type="button" class="login-with-google-btn" disabled>
  Registreer met Google
</button>
 <button type="button" class="login-with-facebook-btn" disabled>
        Registreer met Facebook
      </button>
<p class="voorwaarden">Door in te loggen, ga je akkoord met de <a href="/"> gebruikersvoorwaarden</a> <a href="/" >en het <br> privacybeleid</a></p>
    </div>
        <div class="box2">
        <p>Heb je al een account? <a href="/">Inloggen</a></p>
        </div>

  </body>
</html>